.ancient {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.blueviolet {
  height: 300px;
  width: 300px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brown {
  height: 50%;
  width: 50%;
  border-top: 5px solid yellow;

  background-color: brown;
}
